.cart-container {
  flex: 1;
  margin-right: 20px;
}

.cart-item {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.item-name {
  margin-right: 10px;
}

.total-container {
  flex: 1;
  text-align: right;
}
  