.home-container {
  font-family: "Chakra Petch", sans-serif;
  background-color: #f8f8f8;
  padding: 20px;
}

.product-section {
  margin-bottom: 20px;
}

.product-container {
  text-align: center;
}

.filter-controls ul {
  list-style: none;
  padding: 0;
}

.filter-controls li {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}

.filter-controls li.active {
  background-color: #0056b3;
}

.product-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.product-item {
  max-width: 25%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 20%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .product-item {
    max-width: 50%;
    flex-basis: 45%;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400&display=swap");

.home-page {
  font-family: "Chakra Petch", sans-serif;
  padding: 20px;
  background-color: #ffffff;
  margin-bottom: 10px;
}

.home-header {
  text-align: center;
  margin-bottom: 20px;
}

.items-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.item-card {
  background-color: #7e6767;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.item-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.item-card button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.item-card button:hover {
  background-color: #0056b3;
}
