.product-details {
  font-family: "Chakra Petch", sans-serif;
  background-color: #f8f8f8;
  padding: 20px;
  max-width: 800px; /* Limit the width for better readability */
  margin: auto; /* Center the container */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center; /* Center all text */
}

.product-image {
  max-width: 60%; /* Adjust to control the size of the image */
  height: auto; /* Maintains aspect ratio */
  margin: 0 auto 20px; /* Centers the image and adds margin below */
  border-radius: 5px;
}
.product-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.product-price {
  font-size: 20px;
  color: #007bff;
  margin-bottom: 10px;
}

.product-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.product-availability {
  font-size: 16px;
  margin-bottom: 20px;
}

.action-buttons {
  display: flex;
  justify-content: center; /* Center the button */
  margin-top: 20px;
}

.back-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 30px; /* Increased padding for a longer button */
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #0056b3;
}
.size-selector {
  margin: 20px 0;
  font-size: 16px;
}

.size-selector select {
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
}

.checkout-button {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.checkout-button:hover {
  background-color: #218838;
}
.cart-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cart-button:hover {
  background-color: #007bff;
}
