.component-container {
  font-family: "Chakra Petch", sans-serif;
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center; /* Centering text */
}

.filter-container {
  margin-top: 20px;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 20px; /* Provides consistent spacing between filters */
  margin-bottom: 20px;
}

.filter-container select,
.filter-container label {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-container label {
  display: flex;
  align-items: center;
  gap: 5px;
}

input[type="checkbox"] {
  accent-color: #007bff; /* Styling for checkbox */
}

.items-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center items horizontally */
  gap: 10px; /* Spacing between items */
  margin: 10px 0;
}

.item-container {
  max-width: 25%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 20%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  border-radius: 8px;
  background-color: #ffffff;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and box-shadow */
}
.item-container:hover {
  /*transform: scale(1.005);  Slightly increase size */
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15); /* Increase shadow for a lifting effect */
  cursor: pointer;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .item-container {
    max-width: 50%; /* Larger width for smaller screens */
    flex-basis: 45%; /* Adjust accordingly */
  }
}

/* Item image and button styles */
.item-container img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 15px;
}

.item-container button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%; /* Makes the button stretch to the full width of the container */
}

.item-container button:hover {
  background-color: #0056b3;
}
